# ------------ Python / Virtual Env --------------
venv/
.venv/
env/
__pycache__/
*.pyc


# ------------ Jupyter Notebook --------------
.ipynb_checkpoints/


# ------------ OS / IDE Files --------------
.DS_Store
Thumbs.db
.vscode/
.idea/


# ------------ FastAPI / Backend --------------
uploaded_apks/
backend/__pycache__/
backend/app/__pycache__/
backend/app/services/__pycache__/


# ------------ ML Models & Vectorizers --------------
ml/models/*.pkl
ml/preprocessing/*.pkl
backend/ml/models/*.pkl
backend/ml/preprocessing/*.pkl


# ------------ APK Dataset (Never Push APKs!!) --------------
ml/dataset/benign/*.apk
ml/dataset/malware/*.apk
*.apk


# ------------ Extracted Features --------------
ml/features/*.csv
ml/features/*.jsonl


# ------------ Logs --------------
*.log


# ------------ Environment Variables --------------
.env
.env.local
backend/.env
openai_api_key.txt